.*
/*/
/run-*
missing.sh
*.txt
*.md
!.gitignore
!README.md
!todo.md
!optimal-weights.md
!*.R
!/R*/
!/beaglejar/
!/data/
!/data/fixed-bp/
!/data/fixed-bp-IBD/
!/data/barley-map.txt
!/data/founders.RDS
!/data/founders-IBD.RDS
!/data/oregon-markers.txt
!/java/
/java/**/target/
!/scripts/
!/hpc/
!/figures/
/hpc/run*
/out*
