.*
/*/
*.txt
*.md
!.gitignore
!README.md
!todo.md
!*.R
!/R*/
!/beaglejar/
!/data/fixed-bp/
!/data/barley-map.txt
!/data/founders.RDS
!/data/oregon-markers.txt
!/java/
/java/**/target/
!/scripts/run.R
!/hpc/
!/figures/
/hpc/run*
/out.back
