.*
!.gitignore
/*/
/run-*
missing.sh
*.txt
*.md
!README.md
*.R
!init.R
!/R*/
/R/tmp*
!/beaglejar/
!/data/
!/data/fixed-bp-IBD/
/data/fixed-bp/
/data/fixed-bp-minnesota/
/data/founders-minnesota.RDS
!/data/barley-map.txt
!/data/founders-IBD.RDS
/data/founders.RDS
!/data/oregon-markers.txt
!/java/
/java/**/target/
!/scripts/run.R
/out*
